body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

#mainBanner {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: black;
  /* right: 0; */
  z-index: 400;
}

.fixed-top {
  position: fixed;
  /* left: 0; */
  top: 0;
  -webkit-backface-visibility: hidden;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  -webkit-backface-visibility: hidden;
}

#homeBox{
  padding: 40px 20px 20px 20px;
  /* overflow-x: visible; */
}

#featuredSelections {
  height: 600px;
  width: 100%
}

.banner-center-container{
  display:flex;
  justify-content: center;
  width: calc(100% - 80px);
}

.mid-banner {
  position: absolute;
  top: 0;
}

.issue-row{
  margin: 0 0 0 -40px;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  /* overflow-x: visible; */
}

.issue-box{

  display: flex;
  flex-direction: column;
  margin: 5px;
  min-width: 110px;
  min-height: 150px;
}

.issue-box img{
  width: 100%;
}

.thumbnail{
  max-width: 200px;
  height: auto;
}

.box{
  margin: 2% 0 0 2%;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.center-icon {
  width: 40px;
}

.upper-left-icon, .center-icon, .upper-right-icon{
  max-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#footer{
  width: 100%;
  background-color: #121212;
  right: 0;
  z-index: 400;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-button{
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  background-color: #121212;
  border: none;
  color: #676767;
  margin: auto;
}

.footer-button span{
  margin: auto 1%;
  font-size: 14px;
  max-width: 100%;
  text-align: left;
  height: 15px;
}

.footer-icon {
  margin: auto 10px auto auto;
  max-width: 42px;
  height: auto;
}

@media (max-width: 560px){
  .footer-button{
    flex-direction: column;
  }

  .footer-button span{
    width: 100%;
    font-size: 12px;
    text-align: center;
  }

  .footer-icon {
    width: 100%;
    margin: 0 auto;
  }
}
